# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Static files
staticfiles/

# Media files
media/
